$xs-breakpoint: 600px;
$sm-breakpoint: 1024px;
$md-breakpoint: 1440px;

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: $xs-breakpoint) {
    .container {
        max-width: 564px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 726px;
    }
}

@media (min-width: $sm-breakpoint) {
    .container {
        max-width: 976px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1146px;
    }
}

@media (min-width: $md-breakpoint) {
    .container {
        max-width: 1380px;
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
